.login {
    -fx-background-color: linear-gradient(to right, rgb(65, 41, 90), rgb(47, 7, 67));
}

.login-titulo {
    -fx-font-size: 24px;
    -fx-text-fill: #FFF;
}

.login-form-lable {
    -fx-font-size: 20px;
    -fx-text-fill: #FFF;
}

.login-form-botao {
    -fx-font-size: 16px;
}